body {
    padding-top: 5em;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

button {
    margin-right: 1em;
}

.btn {
    border: 1px solid gray;
}

div.card {
    /*border-radius: 3%;*/
    border: 1px solid black;
    min-height: 5em;
    padding: 1.3em;
    margin: 0 0 0.7em 0;
}

.card-input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

div.question-card {
    box-shadow: 7px 7px 2px yellow;
    
}

div.answer-card {
    box-shadow: 7px 7px 2px green;
}